[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bs4 = "*"
requests = "*"
readerwriterlock = "*"
unicode = "*"
six = "*"
networkx = "*"
matplotlib = "*"
whitenoise = "*"
daphne = "*"
bleach = "*"
pydantic = "*"

[dev-packages]
django-livereload-server = "*"
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.14"
