[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
bs4 = "*"
daphne = "*"
django = "*"
matplotlib = "*"
networkx = "*"
pydantic = "*"
readerwriterlock = "*"
requests = "*"
six = "*"
sqlalchemy = "*"
unicode = "*"
whitenoise = "*"
livereload = "<2.7.0,>=2.6.0"
django-livereload-server = "*"

[dev-packages]
django-livereload-server = "*"
django-stubs = "*"
pre-commit = "*"
ruff = "*"

[requires]
python_version = "3.14"
