{% extends '../common/base.html' %}
{% load my_filters %}
{% load static %}

{% block page %}

{% include '../common/header.html' %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <table id="table_vistas" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Horário</th>
                        <th colspan="1" class="segunda">Segunda</th>
                        <th colspan="1" class="terça">Terça</th>
                        <th colspan="1" class="quarta">Quarta</th>
                        <th colspan="1" class="quinta">Quinta</th>
                        <th colspan="1" class="sexta">Sexta</th>
                        <th colspan="1" class="sábado">Sábado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hour in 8|times:19 %}
                        {% with hour|firstHalfHour as first %}
                        {% with hour|secondHalfHour as second %}
                        {% with hour|concat:"00" as firstHora %}
                        {% with hour|concat:"30" as secondHora %}

                        <!-- First Half Hour Row -->
                        <tr>
                            <td id="{{ firstHora }}">{{ first }}</td>
                            {% for dia_num in 0|times:5 %}
                                {% with dia_num|get_day_name as dia %}
                                {% with aulas_por_dia|dict_get:dia as dia_aulas %}
                                <td id="cell_{{ dia_num }}_{{ firstHora }}" class="schedule-cell" data-dia="{{ dia }}" data-hora="{{ firstHora }}">
                                    {% for aula in dia_aulas %}
                                        {% if aula.horaInicial|stringformat:"s" == firstHora %}
                                            {% with aula.duracao as rowspan %}
                                            {% with dia_aulas|get_overlapping_aulas:aula as overlapping_aulas %}
                                            <div class="aula-container">
                                                {% for overlap in overlapping_aulas %}
                                                    <div class="aula-box {% if aula.tipo == 'TP' %}aula-pratica{% elif aula.tipo == 'PL' %}aula-laboratorio{% else %}aula-teorica{% endif %}"
                                                        style="width: calc(100% / {{ overlapping_aulas|length }});"
                                                        data-aula-id="{{ overlap.id }}"
                                                        data-uc-id="{{ uc_info.codigo }}"
                                                        data-rowspan="{{ overlap.duracao }}"
                                                        data-dia="{{ dia }}"
                                                        data-hora-inicial="{{ overlap.horaInicial }}"
                                                        data-duracao="{{ overlap.duracao }}"
                                                        data-toggle="popover"
                                                        data-placement="top"
                                                        data-content="
                                                            UC: {{ uc_info.sigla|extract_sigla }}<br>
                                                            Sala: {{ overlap.salas_num|join:', ' }}<br>
                                                            Docente: {{ overlap.docentes_abrev|join:', ' }}
                                                        "
                                                        draggable="true">
                                                        {{ uc_info.sigla|extract_sigla }}<br>
                                                        {% for docente in overlap.docentes %}
                                                            <span class="teacher-acronym" 
                                                                  data-teacher-id="{{ docente.id }}"
                                                                  data-aula-id="{{ overlap.id }}">
                                                                {{ docente.abreviacao }}
                                                            </span>{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}<br>
                                                        {{ overlap.salas_num|join:', ' }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            {% endwith %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        </tr>

                        <!-- Second Half Hour Row -->
                        <tr>
                            <td id="{{ secondHora }}">{{ second }}</td>
                            {% for dia_num in 0|times:5 %}
                                {% with dia_num|get_day_name as dia %}
                                {% with aulas_por_dia|dict_get:dia as dia_aulas %}
                                <td id="cell_{{ dia_num }}_{{ secondHora }}" class="schedule-cell" data-dia="{{ dia }}" data-hora="{{ secondHora }}">
                                    {% for aula in dia_aulas %}
                                        {% if aula.horaInicial|stringformat:"s" == secondHora %}
                                            {% with aula.duracao as rowspan %}
                                            {% with dia_aulas|get_overlapping_aulas:aula as overlapping_aulas %}
                                            <div class="aula-container">
                                                {% for overlap in overlapping_aulas %}
                                                    <div class="aula-box {% if aula.tipo == 'TP' %}aula-pratica{% elif aula.tipo == 'PL' %}aula-laboratorio{% else %}aula-teorica{% endif %}"
                                                    style="width: calc(100% / '{{ overlapping_aulas|length }}');"
                                                    data-aula-id="{{ overlap.id }}"
                                                    data-uc-id="{{ uc_info.codigo }}"
                                                    data-rowspan="{{ overlap.duracao }}"
                                                    data-dia="{{ dia }}"
                                                    data-hora-inicial="{{ overlap.horaInicial }}"
                                                    data-duracao="{{ overlap.duracao }}"
                                                    data-toggle="popover"
                                                    data-placement="top"
                                                    data-content="
                                                        UC: {{ uc_info.sigla|extract_sigla }}<br>
                                                        Sala: {{ overlap.salas_num|join:', ' }}<br>
                                                        Docente: {{ overlap.docentes_abrev|join:', ' }}
                                                    "
                                                    draggable="true">
                                                    {{ uc_info.sigla|extract_sigla }}<br>
                                                    {% for docente in overlap.docentes %}
                                                        <span class="teacher-acronym" 
                                                            data-teacher-id="{{ docente.id }}"
                                                            data-aula-id="{{ overlap.id }}">
                                                            {{ docente.abreviacao }}
                                                        </span>{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}<br>
                                                    {{ overlap.salas_num|join:', ' }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                            {% endwith %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        </tr>

                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    // Initialize popovers
    $('[data-toggle="popover"]').popover({
        trigger: 'hover',
        html: true
    });

    // Set proper heights for aula boxes
    function setAulaHeights() {
        var baseHeight = $('#table_vistas tbody tr:first td').outerHeight();
        $('.aula-box').each(function() {
            var rowspan = parseInt($(this).attr('data-rowspan')) || 1;
            $(this).css('height', (baseHeight * rowspan) + 'px');
        });
    }
    setAulaHeights();

    // Track selected element for both teachers and classes
    let selectedElement = null;

    // Handle clicks for both teachers and class boxes
    $(document).on('click', '.teacher-acronym, .aula-box, .schedule-cell', function(e) {
        e.stopPropagation();
        const $element = $(this);
        
        // Determine what was clicked
        let elementType;
        if ($element.hasClass('teacher-acronym')) {
            elementType = 'teacher';
        } else if ($element.hasClass('aula-box')) {
            elementType = 'class';
        } else if ($element.hasClass('schedule-cell')) {
            elementType = 'cell';
        }

        if (!selectedElement) {
            // First selection
            if (elementType === 'cell') {
                // Can't select empty cell first
                return;
            }
            
            selectedElement = {
                element: $element,
                type: elementType,
                id: elementType === 'teacher' ? $element.data('teacher-id') : $element.data('aula-id'),
                text: elementType === 'teacher' ? $element.text() : $element.find('.teacher-acronym').first().text(),
                aulaElement: elementType === 'teacher' ? $element.closest('.aula-box') : $element
            };
            $element.addClass('selected');
        } else {
            // Second selection - handle different combinations
            if (selectedElement.type === 'teacher' && elementType === 'teacher') {
                // Teacher swap
                if (confirm(`Swap teacher ${selectedElement.text} with ${$element.text()}?`)) {
                    swapTeachers(
                        selectedElement.aulaElement.data('aula-id'),
                        selectedElement.id,
                        $element.closest('.aula-box').data('aula-id'),
                        $element.data('teacher-id'),
                        selectedElement.element,
                        $element
                    );
                }
            } else if (selectedElement.type === 'class' && elementType === 'cell') {
                // Move class to empty cell
                const $targetCell = $element;
                const newDia = $targetCell.data('dia');
                const newHora = $targetCell.data('hora');
                
                if (confirm(`Move this class to ${newDia} at ${formatTime(newHora)}?`)) {
                    moveClassToCell(
                        selectedElement.id,
                        newDia,
                        newHora,
                        selectedElement.element,
                        $targetCell
                    );
                }
            } else if (selectedElement.type === 'class' && elementType === 'class') {
                // Class swap
                if (confirm(`Swap these two classes?`)) {
                    swapClasses(
                        selectedElement.id,
                        $element.data('aula-id'),
                        selectedElement.element,
                        $element
                    );
                }
            } else {
                alert("Invalid selection combination");
            }
            
            // Reset selection
            $('.selected').removeClass('selected');
            selectedElement = null;
        }
    });

    // New function to move class to empty cell
    function moveClassToCell(aulaId, newDia, newHora, $aulaElement, $targetCell) {
        // Show loading state
        $aulaElement.css('opacity', '0.5');

        $.ajax({
            url: `/editturnos/${'{{ projId }}'}/uc_changes/`,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                type: 'move',
                aulaId: aulaId,
                newDia: newDia,
                newHora: newHora,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }),
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
                if (response.success) {
                    // Update UI
                    $aulaElement.attr({
                        'data-dia': newDia,
                        'data-hora-inicial': newHora
                    });
                    
                    // Move the aula to the new cell
                    const $aulaContainer = $aulaElement.closest('.aula-container').detach();
                    $targetCell.empty().append($aulaContainer);
                    
                    if (response.conflicts && response.conflicts.length > 0) {
                        alert('Move completed with conflicts:\n' + response.conflicts.join('\n'));
                    }
                } else {
                    alert('Error: ' + (response.error || 'Failed to move class'));
                }
            },
            error: function(xhr, status, error) {
                alert('Error connecting to server');
            },
            complete: function() {
                $aulaElement.css('opacity', '1');
            }
        });
    }

    // Helper function to format time
    function formatTime(timeStr) {
        timeStr = String(timeStr).padStart(4, '0');
        return timeStr.substring(0, 2) + ':' + timeStr.substring(2);
    }

    // Function to swap classes
    function swapClasses(aula1Id, aula2Id, $element1, $element2) {
        // Get current positions
        const dia1 = $element1.data('dia');
        const hora1 = $element1.data('hora-inicial');
        const dia2 = $element2.data('dia');
        const hora2 = $element2.data('hora-inicial');
        
        // Show loading state
        $element1.css('opacity', '0.5');
        $element2.css('opacity', '0.5');

        $.ajax({
            url: `/editturnos/${'{{ projId }}'}/swap_aulas/`,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                aula1: {
                    id: aula1Id,
                    newDia: dia2,
                    newHora: hora2
                },
                aula2: {
                    id: aula2Id,
                    newDia: dia1,
                    newHora: hora1
                },
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }),
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
                if (response.success) {
                    // Update UI positions
                    $element1.attr({
                        'data-dia': dia2,
                        'data-hora-inicial': hora2
                    });
                    $element2.attr({
                        'data-dia': dia1,
                        'data-hora-inicial': hora1
                    });
                    
                    // Move elements to new positions in the table
                    const $cell1 = $element1.closest('td');
                    const $cell2 = $element2.closest('td');
                    
                    // Swap the aula-container contents
                    const $container1 = $cell1.find('.aula-container').detach();
                    const $container2 = $cell2.find('.aula-container').detach();
                    
                    $cell1.append($container2);
                    $cell2.append($container1);
                    
                    if (response.conflicts && response.conflicts.length > 0) {
                        alert('Swap completed with conflicts:\n' + response.conflicts.join('\n'));
                    }
                } else {
                    alert('Error: ' + (response.error || 'Failed to swap classes'));
                }
            },
            error: function(xhr, status, error) {
                alert('Error connecting to server');
            },
            complete: function() {
                $element1.css('opacity', '1');
                $element2.css('opacity', '1');
            }
        });
    }

    // Function to swap teachers
    function swapTeachers(aula1Id, teacher1Id, aula2Id, teacher2Id, $teacher1Element, $teacher2Element) {
        // Show loading state
        const originalTeacher1 = $teacher1Element.text();
        const originalTeacher2 = $teacher2Element.text();
        $teacher1Element.text('Swapping...');
        $teacher2Element.text('Swapping...');

        $.ajax({
            url: `/editturnos/${'{{ projId }}'}/swap_teachers/`,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                aula1: { id: aula1Id },
                aula2: { id: aula2Id },
                teacher1: teacher1Id.toString(),
                teacher2: teacher2Id.toString(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }),
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
                if (response.success) {
                    // Update UI with the returned teacher abbreviations
                    $teacher1Element.text(response.new_teacher1_abbreviation);
                    $teacher2Element.text(response.new_teacher2_abbreviation);
                    
                    // Update data attributes
                    $teacher1Element.data('teacher-id', teacher2Id);
                    $teacher2Element.data('teacher-id', teacher1Id);
                } else {
                    // Revert on error
                    $teacher1Element.text(originalTeacher1);
                    $teacher2Element.text(originalTeacher2);
                    alert('Error: ' + (response.error || 'Failed to swap teachers'));
                }
            },
            error: function(xhr, status, error) {
                // Revert on error
                $teacher1Element.text(originalTeacher1);
                $teacher2Element.text(originalTeacher2);
                alert('Error connecting to server');
            }
        });
    }

    // Helper function to get CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
</script>

<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .container-fluid,
  .row,
  .col-md-12 {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  #table_vistas {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  #table_vistas thead, #table_vistas tbody {
    width: 100%;
  }

  #table_vistas th, #table_vistas td {
    border: 1px solid #ddd;
    padding: 0;
    text-align: center;
    vertical-align: top;
    position: relative;
  }

  .aula-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }

  .aula-box {
    flex: 1;
    border: 1px solid #ddd;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .aula-box:hover {
    background-color: #d0ebff;
  }

  .aula-teorica { background-color: #fff7e6; }
  .aula-pratica { background-color: #f0ffe6; }
  .aula-laboratorio { background-color: #ffe6f7; }

  .selected {
    box-shadow: 0 0 0 3px #4CAF50;
    position: relative;
    z-index: 10;
  }

  .selected::after {
    content: "✓";
    position: absolute;
    top: -8px;
    right: -8px;
    background: #4CAF50;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .teacher-acronym {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 3px;
    transition: all 0.2s;
    display: inline-block;
  }

  .teacher-acronym:hover {
    background-color: #e6f7ff;
  }

  .teacher-selected {
    background-color: #4CAF50 !important;
    color: white !important;
  }

  .ui-draggable-dragging {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .drop-target {
    background-color: #e6f7ff !important;
    outline: 2px dashed #1890ff;
  }
  
.schedule-cell {
    min-height: 50px;
    position: relative;
    cursor: pointer;
}

.schedule-cell:hover {
    background-color: #f5f5f5;
}

.schedule-cell.empty:hover::after {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #ccc;
}
</style>

{% endblock page %}