{% extends '../common/base.html' %}
{% load my_filters %}
{% load static %}

{% block page %}

{% include '../common/header.html' %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <table id="table_vistas" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Horário</th>
                        <th colspan="1" class="segunda">Segunda</th>
                        <th colspan="1" class="terça">Terça</th>
                        <th colspan="1" class="quarta">Quarta</th>
                        <th colspan="1" class="quinta">Quinta</th>
                        <th colspan="1" class="sexta">Sexta</th>
                        <th colspan="1" class="sábado">Sábado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hour in 8|times:19 %}
                        {% with hour|firstHalfHour as first %}
                        {% with hour|secondHalfHour as second %}
                        {% with hour|concat:"00" as firstHora %}
                        {% with hour|concat:"30" as secondHora %}

                        <!-- First Half Hour Row -->
                        <tr>
                            <td id="{{ firstHora }}">{{ first }}</td>
                            {% for dia_num in 0|times:5 %}
                                {% with dia_num|get_day_name as dia %}
                                <td id="cell_{{ dia_num }}_{{ firstHora }}" class="schedule-cell" data-dia="{{ dia }}" data-hora="{{ firstHora }}">
                                    {% with aulas_por_dia|dict_get:dia as dia_aulas %}
                                        {% for aula in dia_aulas %}
                                            {% if aula.horaInicial|stringformat:"s" == firstHora %}
                                                {% with aula.duracao as rowspan %}
                                                {% with dia_aulas|get_overlapping_aulas:aula as overlapping_aulas %}
                                                <div class="aula-container">
                                                    {% for overlap in overlapping_aulas %}
                                                        <div class="aula-box {% if aula.tipo == 'TP' %}aula-pratica{% elif aula.tipo == 'PL' %}aula-laboratorio{% else %}aula-teorica{% endif %}"
                                                            style="width: calc(100% / {{ overlapping_aulas|length }});"
                                                            data-aula-id="{{ overlap.id }}"
                                                            data-uc-id="{{ uc_info.codigo }}"
                                                            data-rowspan="{{ overlap.duracao }}"
                                                            data-dia="{{ dia }}"
                                                            data-hora-inicial="{{ overlap.horaInicial }}"
                                                            data-duracao="{{ overlap.duracao }}"
                                                            data-toggle="popover"
                                                            data-placement="top"
                                                            data-content="
                                                                UC: {{ uc_info.sigla|extract_sigla }}<br>
                                                                Sala: {{ overlap.salas_num|join:', ' }}<br>
                                                                Docente: {{ overlap.docentes_abrev|join:', ' }}
                                                            "
                                                            draggable="true">
                                                            {{ uc_info.sigla|extract_sigla }}<br>
                                                            {{ overlap.docentes_abrev|join:', ' }}<br>
                                                            {{ overlap.salas_num|join:', ' }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                {% endwith %}
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                </td>
                                {% endwith %}
                            {% endfor %}
                        </tr>

                        <!-- Second Half Hour Row -->
                        <tr>
                            <td id="{{ secondHora }}">{{ second }}</td>
                            {% for dia_num in 0|times:5 %}
                                {% with dia_num|get_day_name as dia %}
                                <td id="cell_{{ dia_num }}_{{ secondHora }}" class="schedule-cell" data-dia="{{ dia }}" data-hora="{{ secondHora }}">
                                    {% with aulas_por_dia|dict_get:dia as dia_aulas %}
                                        {% for aula in dia_aulas %}
                                            {% if aula.horaInicial|stringformat:"s" == secondHora %}
                                                {% with aula.duracao as rowspan %}
                                                {% with dia_aulas|get_overlapping_aulas:aula as overlapping_aulas %}
                                                <div class="aula-container">
                                                    {% for overlap in overlapping_aulas %}
                                                        <div class="aula-box {% if aula.tipo == 'TP' %}aula-pratica{% elif aula.tipo == 'PL' %}aula-laboratorio{% else %}aula-teorica{% endif %}"
                                                            style="width: calc(100% / {{ overlapping_aulas|length }});"
                                                            data-aula-id="{{ overlap.id }}"
                                                            data-uc-id="{{ uc_info.codigo }}"
                                                            data-rowspan="{{ overlap.duracao }}"
                                                            data-dia="{{ dia }}"
                                                            data-hora-inicial="{{ overlap.horaInicial }}"
                                                            data-duracao="{{ overlap.duracao }}"
                                                            data-toggle="popover"
                                                            data-placement="top"
                                                            data-content="
                                                                UC: {{ uc_info.sigla|extract_sigla }}<br>
                                                                Sala: {{ overlap.salas_num|join:', ' }}<br>
                                                                Docente: {{ overlap.docentes_abrev|join:', ' }}
                                                            "
                                                            draggable="true">
                                                            {{ uc_info.sigla|extract_sigla }}<br>
                                                            {{ overlap.docentes_abrev|join:', ' }}<br>
                                                            {{ overlap.salas_num|join:', ' }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                {% endwith %}
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                </td>
                                {% endwith %}
                            {% endfor %}
                        </tr>

                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    // Initialize popovers
    $('[data-toggle="popover"]').popover({
        trigger: 'hover',
        html: true
    });

    // Set proper heights for aula boxes
    function setAulaHeights() {
        var baseHeight = $('#table_vistas tbody tr:first td').outerHeight();
        $('.aula-box').each(function() {
            var rowspan = parseInt($(this).attr('data-rowspan')) || 1;
            $(this).css('height', (baseHeight * rowspan) + 'px');
        });
    }
    setAulaHeights();

    // Make aulas draggable
    $('.aula-box').draggable({
        revert: 'invalid',
        helper: 'clone',
        opacity: 0.7,
        zIndex: 1000,
        start: function() {
            $(this).css('visibility', 'hidden');
        },
        stop: function() {
            $(this).css('visibility', 'visible');
        }
    });

    // Make cells droppable
    $('.schedule-cell').droppable({
        accept: '.aula-box',
        tolerance: 'pointer',
        hoverClass: 'drop-target',
        drop: function(event, ui) {
            var $dragged = ui.draggable;
            var $target = $(this);
            var $existingClass = $target.find('.aula-box');
            
            // Get position data
            var targetDia = $target.data('dia');
            var targetHora = $target.data('hora');
            var draggedData = {
                aulaId: $dragged.data('aula-id'),
                ucId: $dragged.data('uc-id'),
                dia: $dragged.data('dia'),
                hora: $dragged.data('hora-inicial'),
                duracao: $dragged.data('duracao')
            };

            if ($existingClass.length > 0) {
                // SWAP CLASSES
                var existingData = {
                    aulaId: $existingClass.data('aula-id'),
                    ucId: $existingClass.data('uc-id'),
                    dia: $existingClass.data('dia'),
                    hora: $existingClass.data('hora-inicial'),
                    duracao: $existingClass.data('duracao')
                };

                if (confirm(`Swap ${draggedData.ucId} (${formatTime(draggedData.hora)}) with ${existingData.ucId} (${formatTime(existingData.hora)})?`)) {
                    // Prepare swap data for backend
                    var swapData = {
                        aula1: {
                            id: draggedData.aulaId,
                            newDia: targetDia,
                            newHora: targetHora
                        },
                        aula2: {
                            id: existingData.aulaId,
                            newDia: draggedData.dia,
                            newHora: draggedData.hora
                        },
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    };

                    // Perform swap via AJAX
                    $.ajax({
                        url: '/editturnos/' + '{{ projId }}' + '/swap_aulas/',
                        type: 'POST',
                        data: JSON.stringify(swapData),
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        success: function(response) {
                            if (response.success) {
                                // Visual update after successful swap
                                var $originalCell = $dragged.closest('.schedule-cell');
                                
                                // Move existing class to original position
                                $originalCell.empty().append($existingClass);
                                $existingClass.attr({
                                    'data-dia': draggedData.dia,
                                    'data-hora-inicial': draggedData.hora
                                });
                                
                                // Move dragged class to new position
                                $target.empty().append($dragged);
                                $dragged.attr({
                                    'data-dia': targetDia,
                                    'data-hora-inicial': targetHora
                                });
                                
                                setAulaHeights();
                                
                                // Show conflicts if any
                                if (response.conflicts && response.conflicts.length > 0) {
                                    alert('Swap completed with conflicts:\n' + 
                                        response.conflicts.join('\n'));
                                }
                            } else {
                                alert('Swap failed: ' + (response.error || 'Unknown error'));
                                window.location.reload();
                            }
                        },
                        error: function(xhr, status, error) {
                            alert('Error connecting to server');
                            window.location.reload();
                        }
                    });
                }
            } else {
                // SINGLE MOVE (original functionality)
                if (confirm(`Move class to ${targetDia} at ${formatTime(targetHora)}?`)) {
                    // Update database FIRST
                    $.ajax({
                        url: '/editturnos/' + '{{ projId }}' + '/uc_changes/',
                        type: 'POST',
                        data: JSON.stringify({
                            aulaId: draggedData.aulaId,
                            ucId: draggedData.ucId,
                            newDia: targetDia,
                            newHora: targetHora,
                            duracao: draggedData.duracao,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        }),
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        success: function(response) {
                            if (response.success) {
                                // Only update visually after successful DB update
                                $target.empty().append($dragged);
                                $dragged.attr({
                                    'data-dia': targetDia,
                                    'data-hora-inicial': targetHora
                                });
                                setAulaHeights();
                                
                                // Show conflicts if any
                                if (response.conflicts && response.conflicts.length > 0) {
                                    alert('Move completed with conflicts:\n' + 
                                        response.conflicts.join('\n'));
                                }
                            } else {
                                alert('Error: ' + (response.error || 'Failed to save changes'));
                                window.location.reload();
                            }
                        },
                        error: function(xhr, status, error) {
                            alert('Error: Failed to connect to server');
                            window.location.reload();
                        }
                    });
                }
            }
        }
    });

    function formatTime(timeStr) {
        // Convert to string if it isn't already
        timeStr = String(timeStr);
        
        // Pad with leading zeros if needed (e.g., 800 -> "0800")
        timeStr = timeStr.padStart(4, '0');
        
        // Format as HH:MM
        return timeStr.substring(0, 2) + ':' + timeStr.substring(2);
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
</script>

<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .container-fluid,
  .row,
  .col-md-12 {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  #table_vistas {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  #table_vistas thead, #table_vistas tbody {
    width: 100%;
  }

  #table_vistas th, #table_vistas td {
    border: 1px solid #ddd;
    padding: 0;
    text-align: center;
    vertical-align: top;
    position: relative;
  }

  .aula-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }

  .aula-box {
    flex: 1;
    border: 1px solid #ddd;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    cursor: move;
  }

  .aula-box.dragging {
    opacity: 0.5;
  }

  .aula-teorica { background-color: #fff7e6; }
  .aula-pratica { background-color: #f0ffe6; }
  .aula-laboratorio { background-color: #ffe6f7; }

  .aula-box:hover {
    background-color: #d0ebff;
  }

  .drop-target {
    background-color: #f0f8ff !important;
  }


/* Add to your existing styles */
.ui-draggable-dragging {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.dragging-source {
    opacity: 0.4;
}

.drop-target {
    background-color: #e6f7ff !important;
    outline: 2px dashed #1890ff;
}

.aula-box.ui-draggable-dragging {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.drop-target {
    background-color: #e6f7ff !important;
    outline: 2px dashed #1890ff;
}

.dragging-source {
    opacity: 0.3;
}
</style>

{% endblock page %}