<style>
    .popup-paralelo-simultanea .botoes {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        gap: 10px;
    }
    
    .botao-ok {
        background-color: #ffc107;
        padding: 10px;
        border: none;
        border-radius: 10px;
        transition: background-color 0.2s;
        cursor: pointer;
    }

    .botao-ok:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
    }

    .botao-cancelar {
        background-color: transparent;
        border: none;
        color: #888;
        text-decoration: underline;
        cursor: pointer;
    }

    .botao-cancelar:hover {
        color: #454545;

    }

    .popup-paralelo-simultanea{
        display:none; 
        position: fixed; 
        z-index: 2000; 
        background: white; 
        border-radius: 10px;
        padding: 20px; width: 500px; 
        top: 30%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        box-shadow: 0 0 10px rgba(0,0,0,0.3); 
        overflow: auto;
    }

    .grupo-aulas-list{
        color: black;
        padding-left: 20px;
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;
    }
    .info-comum {
        color: black;
        line-height:1.5em;
    }
</style>

<div id="popup-paralelo" class="popup-paralelo-simultanea">
    <p style="color:black;">Esta alteração afeta aulas em paralelo.</p>
    <p style="color:black;">As aulas envolvidas no grupo, incluindo esta, são as seguintes:</p>
    <ul id="grupo-aulas-paralelo-list" class="grupo-aulas-list"></ul>

    <div class="botoes">
        <button class="botao-cancelar" onclick="escolherOpcaoParalelo('cancelar')">Cancelar alteração</button>
        <button class="botao-ok" onclick="escolherOpcaoParalelo('ok')">Ok</button>
    </div>
</div>

<div id="popup-simultanea"  class="popup-paralelo-simultanea">
    <p style="color:black;">Esta alteração afeta aulas em simultâneo.</p>
    <div class="info-comum">
        <p>
            <strong>Professores: </strong><span id="popup-simultanea-docentes"></span> <br>
            <strong>Sala: </strong><span id="popup-simultanea-sala"></span>
        </p>
    </div>
    <span style="color: black; line-height: 2em;">As aulas envolvidas no grupo, incluindo esta, são as seguintes:</span>
    <ul id="grupo-aulas-simultanea-list" class="grupo-aulas-list"></ul>
    
    <div class="botoes">
        <button class="botao-cancelar" onclick="escolherOpcaoSimultanea('cancelar')">Cancelar alterações</button>
        <button class="botao-ok" onclick="escolherOpcaoSimultanea('ok')">Ok</button>
    </div>
</div>

<div id="popup-dois-grupos"  class="popup-paralelo-simultanea">
    <p style="color:black;">Ambas as aulas envolvidas nesta troca estão em grupos de aulas em paralelo e/ou em simumltâneo .</p>
    <div id="popup-dois-grupos-1">
        <div class="info-comum">
            <p></p>
        </div>
        <span style="color: black; line-height: 2em;">As aulas envolvidas no grupo, incluindo esta, são as seguintes:</span>
        <ul id="grupo-1-aulas-list" class="grupo-aulas-list"></ul>
    </div>

    <div id="popup-dois-grupos-2">
        <div class="info-comum">
            <p></p>
        </div><span style="color: black; line-height: 2em;">As aulas envolvidas no grupo, incluindo esta, são as seguintes:</span>
        <ul id="grupo-2-aulas-list" class="grupo-aulas-list"></ul>
        <span style="color: black; line-height: 2em;">As aulas envolvidas no grupo, incluindo esta, são as seguintes:</span>
        <ul id="grupo-2-aulas-list" class="grupo-aulas-list"></ul>
    </div>
    
    <div class="botoes">
        <button class="botao-cancelar" onclick="escolherOpcaoSimultanea('cancelar')">Cancelar alterações</button>
        <button class="botao-ok" onclick="escolherOpcaoSimultanea('ok')">Ok</button>
    </div>
</div>

<div id="popup-overlay"
     style="pointer-events: auto; display: none; position: fixed; z-index: 1999;
     top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.3);">
     <!-- this div is to disable clicking on the rest of the page while the user hasn't closed the popup -->
</div>

<script>
    let callbackParalelo = null;

    function abrirPopupParalelo(callback) {
        callbackParalelo = callback;
        document.getElementById('popup-paralelo').style.display = 'block';
        document.getElementById('popup-overlay').style.display = 'block';
    }

    function escolherOpcaoParalelo(opcao) {
        document.getElementById('popup-paralelo').style.display = 'none';
        document.getElementById('popup-overlay').style.display = 'none';
        if (callbackParalelo) callbackParalelo(opcao);
    }

    let callbackSimultanea = null;

    function abrirPopupSimultanea(callback) {
        callbackSimultanea = callback;
        document.getElementById('popup-simultanea').style.display = 'block';
        document.getElementById('popup-overlay').style.display = 'block';

    }

    function escolherOpcaoSimultanea(opcao) {
        document.getElementById('popup-simultanea').style.display = 'none';
        document.getElementById('popup-overlay').style.display = 'none';
        if (callbackSimultanea) callbackSimultanea(opcao);
    }

    let callbackDoisGrupos = null;

    function abrirPopupDoisGrupos(callback) {
        callbackDoisGrupos = callback;
        document.getElementById('popup-dois-grupos').style.display = 'block';
        document.getElementById('popup-overlay').style.display = 'block';

    }

    function escolherOpcaoDoisGrupos(opcao) {
        document.getElementById('popup-dois-grupos').style.display = 'none';
        document.getElementById('popup-overlay').style.display = 'none';
        if (callbackSimultanea) callbackSimultanea(opcao);
    }

</script>