{% load my_filters %}

<table id="table_vistas">
    <thead>
        <tr>
            <th>Horário</th>
            {% for dia in dias %}
            <th colspan="1" class="{{dia|lower}}">
                {% if dia == "Terca" %}Terça
                {% elif dia == "Sabado" %}Sábado
                {% else %}{{dia}}
                {% endif %}
            </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for hora in horas %}
        <tr>
            <td>{{ hora|slice:":2" }}:{{ hora|slice:"2:" }}</td>
            {% for dia in dias %}
            <td id="uc_{{dia|lower}}_{{hora}}" class="uc-cell"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table> 