<!-- standar navigation header, with popup menus for navigation-->

{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<header class="p-3 pt-4 bg-dark header">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between ">

      <ul class="nav mb-2 justify-content-center mb-md-0">
        <a class="btn btn-warning me-2" href="/">Início</a>
        {% if not display_edit_buttons%}
        <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal"
          data-bs-target="#createPopup">Novo Projeto</button>
        <button type="button" class="btn btn-outline-light me-2 dropdown-toggle" id="openDropDown"
          data-bs-toggle="dropdown" aria-expanded="false">Abrir Projeto</button>
        <div class="dropdown">
          <ul class="dropdown-menu" aria-labelledby="openDropDown">
            {% for projeto in projetos %}
            <li><a class="dropdown-item" href="/editturnos/{{projeto.id}}">{{projeto.nome}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/groups';"
          data-bs-toggle="modal">Grupos</button>
        {% endif %}
        {% if display_edit_buttons %}
        <button class="btn btn-outline-danger me-2" type="button" id="conflictsBtn" aria-expanded="false">
          <i class="bi bi-exclamation-triangle-fill"></i> Ver Conflitos
        </button>
        {% include './exportButton.html' %}
        {% endif %}
      </ul>

      {% if display_edit_buttons %}
      <div class="d-flex gap-2 justify-content-center flex-fill">
        <select class="form-select selectWidth bg-dark text-light" aria-label="Default select example" id="cursoBtn">
          <option selected>Curso</option>
        </select>
        <select class="form-select selectWidth bg-dark text-light" aria-label="Default select example" id="anoBtn">
          <option selected>Ano</option>
        </select>
        <select class="mr-3 ml-3 form-select selectWidth bg-dark text-light" aria-label="Default select example"
          title="Vista" id="turnosBtn">
          <option selected>Turnos</option>
        </select>
        <select class="form-select selectWidth bg-dark text-light" aria-label="Default select example" id="turmasBtn">
          <option selected>Turma</option>
        </select>
        <select class="form-select selectWidth bg-dark text-light" aria-label="Default select example" id="semanasBtn">
          <option selected>Semanas</option>
        </select>
        <button type="button" class="btn btn-outline-light me-2" id="showDistributionBtn"> Distribuição </button>
        <!-- sidebar toggle button -->
        <!-- <button id="offCanvasBtn" class="btn" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
          
        </button> -->
        <i id="offCanvasBtn" class="bi bi-caret-right-square-fill" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"></i>
      </div>
      {% endif %}
      <!-- <h3> {{ projeto.nome }} </h3> -->
      {% if not display_edit_buttons %}
      <div class="text-end">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
          onclick="window.location.href='/login/password_change';">Mudar palavra-passe</button>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
          data-bs-target="#logoutPopup">Logout</button>
      </div> 
      {% endif %}
    </div>
  </div>
</header>