.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    height: 6rem;
}

.selectWidth {
    max-width: 15%;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    border: 1px #dadada solid;
}

.checkboxes label {
    display: block;
}

.checkboxes label:hover {
    background-color: #1e90ff;
}

#header2 {
    position: fixed;
    top: 6em;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

.header2-undo {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    z-index: auto;
    background-color: transparent;
    min-height: 25em;
}

#header2-div {
    display: flex;
    justify-content: center;
}